<div>
  <ul>
    <li *ngFor="let item of data; let i = index">
      <button (click)="toggle[i] = !toggle[i]" mat-icon-button type="button">
        <mat-icon *ngIf="!toggle[i]">chevron_right</mat-icon>
        <mat-icon *ngIf="toggle[i]">expand_more</mat-icon>
      </button>
      <!-- <mat-checkbox color="primary">
        {{ item.displayName }}
      </mat-checkbox> -->
      <span>{{ item.displayName }}</span>
      <div *ngIf="toggle[i]" class="container">
        <div *ngIf="item.hasTabs">
          <p>Tabs</p>
          <frontend-whatsapp-tab
            [data]="item.tabs"
            [selectedData]="selectedData"
            (selectedTabs)="selectedTabsHandled($event, item)"
          ></frontend-whatsapp-tab>
        </div>
        <div *ngIf="item.hasChildrens">
          <frontend-whatsapp-role-selector
            [data]="item.childrens"
          ></frontend-whatsapp-role-selector>
        </div>
        <div *ngIf="item.hasPermissions">
          <p>Permisos</p>
          <frontend-whatsapp-button-group
            [permissions]="item.permissions"
            [item]= "item"
            [displayPermissions]="item.permissionsToDisplay"
            [selectedData]="selectedData"
            (selectedPermissions)="selectedPermissionsHandle($event, item)"
          ></frontend-whatsapp-button-group>
        </div>
      </div>
    </li>
  </ul>
</div>
