.tabs {
    margin-left: 50px;
}

.tabContainer {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: 20px;
    // background-color: aqua;
    // width: 300px;
    // height: 160px;
}