.box {
    display: flex;
    align-items: center;
    flex: auto;
}

.position {
    font-weight: bold;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(42, 209, 165);
    margin-right: 10px;
}

.buttons {
    margin-left: auto;
}

