.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

.position {
    font-weight: bold;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(42, 209, 165);
    margin-right: 10px;
}

.buttons {
    margin-left: auto;
}