<form (ngSubmit)="save()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0" fxFlex="auto">Petición de Datos</h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="my-5 addQuestion">
            <h3>Ingrese una nueva pregunta</h3>
            <button mat-icon-button class="ml-3" color="primary" (click)="addQuestion()" type="button" [disabled]="deactivationStatus$ | async">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <mat-accordion class="mb-5">
            <frontend-whatsapp-data-request-panel
                *ngFor="let question of questions; index as i"
                [questionNumber]="i + 1"
                [data]="question"
                (deleteQuestionEvent)="deleteQuestion(i)"
                (createQuestionEvent)="fillQuestion($event, i)"
            ></frontend-whatsapp-data-request-panel>
        </mat-accordion>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCELAR</button>
        <button *ngIf="isCreateMode()" color="primary" mat-button type="submit" [disabled]="deactivationStatus$ | async">CREAR PETICIÓN DE DATOS</button>
        <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit" [disabled]="deactivationStatus$ | async">ACTUALIZAR MENSAJE</button>
    </mat-dialog-actions>
</form>
