<div
  class="bg-app-bar px-6 h-16 border-b sticky left-0"
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <div
    class="bg-card rounded-full border px-4"
    fxFlex="400px"
    fxFlex.lt-md="auto"
    fxHide.xs
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
    <input
      [formControl]="searchCtrl"
      class="px-4 py-3 border-0 outline-none w-full bg-transparent"
      placeholder="Buscar por Nombre..."
      type="search"
    />
  </div>

  <span fxFlex></span>

  <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
    <mat-icon [icIcon]="icSearch"></mat-icon>
  </button>

  <mat-slide-toggle (toggleChange)="showData()" [(ngModel)]="isChecked"  color="primary"></mat-slide-toggle>

  <button
    (click)="createUser()"
    class="ml-4"
    color="primary"
    fxFlex="none"
    mat-mini-fab
    matTooltip="Agregar Usuario"
    type="button"
  >
    <mat-icon [icIcon]="icAdd"></mat-icon>
  </button>
</div>

<table class="mat-elevation-z8 w-full" [dataSource]="dataSource" mat-table>
  <!-- Text Columns -->
  <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
    <ng-container
      *ngIf="column.type === 'text'"
      [matColumnDef]="column.property"
    >
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
        {{ row[column.property] }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="groupNames">
    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
      Grupos
    </th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip class="myChip" *ngFor="let group of row.groupNames"
          >{{ group }}
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
      <button
        (click)="$event.stopPropagation()"
        [matMenuTriggerData]="{ user: row }"
        [matMenuTriggerFor]="actionsMenu"
        mat-icon-button
        type="button"
      >
        <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
  <tr
    *matRowDef="let row; columns: visibleColumns"
    @fadeInUp
    class="hover:bg-hover trans-ease-out cursor-pointer"
    mat-row
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  class="sticky left-0"
></mat-paginator>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-user="user" matMenuContent>
    <button (click)="updateUser(user)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="deleteUser(user)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
