<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('name').value" class="headline m-0" fxFlex="auto">
      {{ form.get('name').value }}
    </h2>
    <h2
      *ngIf="!form.get('name').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo Grupo
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Nombre</mat-label>
      <input cdkFocusInitial formControlName="name" matInput />

      <mat-icon [icIcon]="icPeople" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Descripción</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    <mat-slide-toggle color="primary" [checked]="isChecked" (toggleChange)="changeStatus()" >Estado</mat-slide-toggle>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREAR GRUPO</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR GRUPO</button>
  </mat-dialog-actions>
</form>
