<vex-page-layout>
    <vex-secondary-toolbar current="WHATSAPP">
        <vex-breadcrumbs [crumbs]="['Configuración']" fxFlex="auto"></vex-breadcrumbs>
    </vex-secondary-toolbar>
    <mat-progress-bar
        color="primary"
        mode="indeterminate"
        *ngIf="progressService.visibility | async"
    ></mat-progress-bar>
</vex-page-layout>

<vex-page-layout mode="card">
    <vex-page-layout-header class="h-6"></vex-page-layout-header>

    <vex-page-layout-content vexContainer>
        <div class="card">
            <mat-tab-group>
                <mat-tab label="Usuarios" *ngIf="menuVisibility('user')">
                    <div class="p-0">
                        <!-- <vex-page-layout-demo></vex-page-layout-demo> -->
                        <ng-template matTabContent>
                            <router-outlet name="configurationUsers"></router-outlet>
                        </ng-template>
                    </div>
                </mat-tab>
                <mat-tab label="Grupos" *ngIf="menuVisibility('group')">
                    <div class="p-0">
                        <!-- <vex-page-layout-demo></vex-page-layout-demo> -->
                        <ng-template matTabContent>
                            <router-outlet name="configurationGroups"></router-outlet>
                        </ng-template>
                    </div>
                </mat-tab>
                <mat-tab label="Canales" *ngIf="menuVisibility('channel')">
                    <div class="p-0">
                        <!-- <vex-page-layout-demo></vex-page-layout-demo> -->
                        <ng-template matTabContent>
                            <router-outlet name="configurationChannels"></router-outlet>
                        </ng-template>
                    </div>
                </mat-tab>
                <mat-tab label="Roles" *ngIf="menuVisibility('role')">
                    <div class="p-0">
                        <ng-template matTabContent>
                            <router-outlet name="configurationRoles"></router-outlet>
                        </ng-template>
                    </div>
                </mat-tab>
                <mat-tab label="Sentencias Censuradas" *ngIf="menuVisibility('censoredSentence')">
                    <div class="p-0">
                        <ng-template matTabContent>
                            <router-outlet name="configurationBannedWords"></router-outlet>
                        </ng-template>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>
