<div fxLayout="column" fxLayoutGap="10px">
    <strong>{{ data.title }}</strong>
    <div mat-dialog-content class="text-sm">
        {{ data.body }}
    </div>
    <div fxLayoutAlign="end center" class="mt-2" mat-dialog-actions>
        <button mat-button (click)="closeDialog(false)" mat-dialog-close>No</button>
        <button
            mat-raised-button
            [color]="data.btnColor || 'primary'"
            mat-dialog-close
            (click)="closeDialog(true)"
            cdkFocusInitial
        >
            Sí
        </button>
    </div>
</div>
