<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title> Pregunta {{questionNumber}}</mat-panel-title>
        <mat-panel-description>
            <span *ngIf="question.length === 0">Ingrese una nueva pregunta</span>
            <span>{{question}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="question">
        <mat-form-field>
            <mat-label>Pregunta</mat-label>
            <input [(ngModel)]="question" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo de Dato</mat-label>
            <mat-select>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mensaje de Error</mat-label>
            <input matInput />
        </mat-form-field>
        <button mat-button color="primary" type="button" (click)="onDelete()">Eliminar</button>
    </div>
</mat-expansion-panel>
