.container-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(179, 176, 176);
    padding: 0px 6px 0px 6px;
    border-radius: 5px;
}

.container-buttons {
    margin-left: auto;
}