<div class="title mt-2">
    <button *ngIf="options.length !== 0" (click)="toggle = !toggle" mat-icon-button type="button">
        <mat-icon *ngIf="!toggle">chevron_right</mat-icon>
        <mat-icon *ngIf="toggle">expand_more</mat-icon>
    </button>
    <p class="base" *ngIf="!status">{{ title }}</p>
    <mat-form-field *ngIf="status" appearance="legacy">
        <input matInput [(ngModel)]="title" />
        <button matSuffix mat-icon-button (click)="status = false">
            <mat-icon>check</mat-icon>
        </button>
    </mat-form-field>
    <span style="color: gainsboro;" class="text-xs ml-3">(Ref. {{ref}})</span>
    <button mat-icon-button type="button" color="primary" (click)="status = !status">
        <mat-icon>edit</mat-icon>
    </button>
    <button  mat-icon-button type="button" color="primary" (click)="deleteMenu()">
        <mat-icon>delete</mat-icon>
    </button>
    <button class="ml-3" *ngIf="options.length === 0" mat-flat-button color="primary" (click)="addOption(0)">
        Agregar Opción
    </button>
</div>
<div class="ml-14">
    <ul *ngIf="toggle">
        <li class="base flex items-center" *ngFor="let option of options; index as i">
            <p *ngIf="!optionStatus[i]">{{ option.value }}</p>
            <mat-form-field *ngIf="optionStatus[i]" appearance="legacy">
                <input matInput [(ngModel)]="option.value" />
                <button matSuffix mat-icon-button (click)="optionStatus[i] = false;changeReference(option)">
                    <mat-icon>check</mat-icon>
                </button>
            </mat-form-field>
            <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="submenu">
                    <mat-icon>arrow_right_alt</mat-icon>
                    <span>Acciones</span>
                </button>
                <button mat-menu-item (click)="openRedirection(option.id,option.value)">
                    <mat-icon>fork_right</mat-icon>
                    <span>Transferir</span>
                </button>
                <button mat-menu-item (click)="openMenu(option.id,option.value)">
                    <mat-icon>menu</mat-icon>
                    <span>Menu</span>
                </button>
            </mat-menu>
            <mat-menu #submenu="matMenu">
                <button mat-menu-item (click)="addOption(option.id)">
                    <mat-icon>add</mat-icon>
                    <span>Agregar Opción</span>
                </button>
                <button mat-menu-item (click)="updateOption(option.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item (click)="deleteOption(option.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                </button>
            </mat-menu>
        </li>
    </ul>
</div>

<h5 *ngIf="menuStatus" class="text-primary font-semibold">{{menuTitle}}</h5>
<frontend-whatsapp-menu-element
    (acceptEventEmitter)="getMenuTitle($event)"
    (cancelEventEmitter)="menuStatus = false"
    *ngIf="menuStatus"
></frontend-whatsapp-menu-element>
<h5 *ngIf="redirectionStatus" class="text-primary font-semibold">{{redirectionTitle}}</h5>
<frontend-whatsapp-menu-redirection
    (acceptEventEmitter)="getRedirecObject($event)"
    (cancelEventEmitter)="redirectionStatus = false"
    *ngIf="redirectionStatus"
></frontend-whatsapp-menu-redirection>
<span *ngIf="menu.options.length === 0" class="text-red">El menu {{menu.title}} no tiene opciones. </span>
