@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  --color-primary: 42, 209, 165;
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}

// .node-content-wrapper-active,
// .node-content-wrapper.node-content-wrapper-active:hover,
// .node-content-wrapper-active.node-content-wrapper-focused {
//   background: rgba(42,209,165,.8);
// }
// .node-content-wrapper-focused { background: rgba(42,209,165,.5) }
// .node-content-wrapper:hover { background: rgba(42,209,165,.2) }

tree-node-checkbox {
  padding: 3px;
}

.green-snackbar {
  background: #34D1A5;
  color: white;
  font-weight: bold;
}

.red-snackbar {
  background: #F2413C;
  color: white;
  font-weight: bold;
}
