<h2>Configuración</h2>

<mat-divider class="-mx-6 my-5 text-border"></mat-divider>

<div cdkDropListGroup>
    <div class="example-container">
        <h3>Acciones disponibles</h3>

        <div
            cdkDropList
            [cdkDropListData]="items"
            class="example-list"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)"
            [cdkDropListDisabled]="isDisabled"
        >
            <frontend-whatsapp-action
                class="example-box"
                *ngFor="let item of items"
                cdkDrag
                [label]="item.value"
            ></frontend-whatsapp-action>
        </div>
    </div>

    <div class="example-container">
        <h3>Acciones seleccionadas</h3>

        <div cdkDropList [cdkDropListData]="basket" class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="isDisabled">
            <frontend-whatsapp-selected-action
                class="example-box"
                *ngFor="let item of basket; index as i"
                cdkDrag
                [label]="item"
                [position]="i + 1"
                (deleteItemEvent)="deleteConfig(i)"
                (updateItemEvent)="updateConfig(i)"
            ></frontend-whatsapp-selected-action>
        </div>
    </div>
</div>

<div align="end">
    <button mat-button (click)="onNoClick()">CANCELAR</button>
    <button color="primary" mat-button *ngIf="status === 'create'" (click)="onCreate()">CREAR CONFIGURACIÓN</button>
    <button color="primary" mat-button *ngIf="status === 'update'" (click)="onUpdate()">
        ACTUALIZAR CONFIGURACIÓN
    </button>
</div>
