<div class="flex">
    <img src="../../../../assets/img/dashboard2.jpg" class="mt-5 ml-2 w-1/2" />
    <div class="bg-primary w-1/2 mt-5 mr-5 p-5 text-white">
        <h1 class="text-center">whatsapp</h1>
        <br />
        <ul>
            <!-- Conecta y conversa con clientes a través de whatsapp. Ofrecemos servicios eficientes y -->
            <li>lorem apsodj apsdjpasijodif vhpdfo hbpdsfoubsp obspdubv dsupv sdpfv pdfv psdfvnpdfvpdsfv dbpfv</li>
            <li>lorem apsodj apsdjpasijodif vhpdfo hbpdsfoubsp obspdubv dsupv sdpfv pdfv psdfvnpdfvpdsfv dbpfv</li>
            <li>lorem apsodj apsdjpasijodif vhpdfo hbpdsfoubsp obspdubv dsupv sdpfv pdfv psdfvnpdfvpdsfv dbpfv</li>
        </ul>
    </div>
</div>
