.tag{
    background-color: rgba(42, 209, 165,.3);
}

.inputTag{
    border-bottom: 2px solid  rgb(42, 209, 165);
    width: 80px;
}

.myChip{
    border-radius: 5px;
    background-color: rgba(42, 209, 165,.4);
}
