.labelParent {
    //margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.label {
    background-color: rgb(245,245,245);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.label_click {
    background-color: rgba(42, 209, 165,.1);
    color: rgb(42, 209, 165);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.label:hover {
    background-color: rgba(42, 209, 165, .1);
    color: rgb(42, 209, 165);
}

.label:active {
    background-color: rgba(42, 209, 165,.1);
}

